<% if @talia3_init %>
<h2>Change admin password</h2>
<form action="admin_password" method="post">
  <%= token_tag(form_authenticity_token) %>
  Password: <input type="password" name="password"/>
  <br/>
  Confirm: <input type="password" name="confirm_password"/>
  <br/>
  <input type="submit" name="save" value="Change password"/>
</form>
<% end %>
