<%= link_to "Administration", talia3_admin_path %>
<h2>Configuration options</h2>
<ul>
  <li><%= link_to 'Views', talia3_admin_config_path(:views) %>
  <li><%= link_to 'Ontologies', talia3_admin_config_path(:ontologies) %></li>
  <li><%= link_to 'Data', talia3_admin_config_path(:data) %></li>
</ul>
